/* 
    Created on : 06.05.2020, 18:50:57
    Author     : z0043bck
*/
    #menu {
        border: 2px solid black;
        padding-right: 0px;
        padding-left: 28px;
        width: 50px;
        border-radius: 5px;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    .link {
        
    }
